Repository WMInfoTech/app-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_head_alpine, build_head_oracle

build_head_alpine:
  tags:
  - docker
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - cd tomcat8.5/jre8-alpine
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE:tomcat8.5-alpine-latest .
  ...

build_head_oracle:
  tags:
  - docker
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - cd tomcat8.5/oraclejava8-oraclelinux7
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE:tomcat8.5-oracle-latest .
  ...

Fix the tag that's pushed
  .gitlab-ci.yml
Due: none

Always build to populate the registry
  .gitlab-ci.yml
Due: none

Remove support for OEL
  .gitlab-ci.yml
  tomcat8.5/oraclejava8-oraclelinux7/Dockerfile
  tomcat8.5/oraclejava8-oraclelinux7/context.xml
  tomcat8.5/oraclejava8-oraclelinux7/logging.properties
  tomcat8.5/oraclejava8-oraclelinux7/run.sh
  tomcat8.5/oraclejava8-oraclelinux7/server.xml
  tomcat8.5/oraclejava8-oraclelinux7/tomcat_jmx_exporter.yaml
Due: build_head_oracle

Ignore missing web.xml file
  tomcat8.5/jre8-alpine/run.sh
Due: build_head_alpine

Fix syntax in run.sh
  tomcat8.5/jre8-alpine/run.sh
Due: build_head_alpine

Fix syntax, again....
  tomcat8.5/jre8-alpine/run.sh
Due: build_head_alpine

Cleanup to make more usable
  .gitlab-ci.yml
  README.md
  examples/applicationNavigator/Dockerfile
  examples/applicationNavigator/WEB-INF/classes/applicationNavigator_configuration.groovy
  examples/applicationNavigator/WEB-INF/classes/banner_configuration.groovy
  examples/applicationNavigator/docker-compose.yml
  examples/applicationNavigator/readme.md
  examples/studentregistrationssb-env/Dockerfile
  examples/studentregistrationssb-env/README.md
  examples/studentregistrationssb-env/WEB-INF/classes/StudentRegistrationSsb_configuration.groovy
  examples/studentregistrationssb-env/WEB-INF/classes/banner_configuration.groovy
  examples/studentregistrationssb-env/docker-compose.yml
  examples/studentregistrationssb-external/Dockerfile
  examples/studentregistrationssb-external/config/StudentRegistrationSsb_configuration.groovy
  examples/studentregistrationssb-external/config/banner_configuration.groovy
Due: none

Support builds of Debian slim and alpine in a single folder
  .gitlab-ci.yml
  README.md
  tomcat8.5/Dockerfile
  tomcat8.5/Dockerfile.slim
  tomcat8.5/context.xml
  tomcat8.5/logging.properties
  tomcat8.5/run.sh
  tomcat8.5/server.xml
  tomcat8.5/tomcat_jmx_exporter.yaml
Due: none

Path conditions:
  build_head_alpine: any of: tomcat8.5/jre8-alpine/*
  build_head_oracle: any of: tomcat8.5/oraclejava8-oraclelinux7/*
